@import "tailwindcss";

body {
  @apply bg-gray-100 font-serif dark:bg-gray-700 dark:text-white overflow-x-hidden;
}

@theme {
  --color-primary: #fa03bc;
  --color-secondary: #f7aef8;
  --color-danger: #ff0000;
}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}
.filterBy {
  @apply flex items-center gap-4 justify-between;
}

.link > li {
  @apply hover:text-blue-500 hover:underline;
}

.table,
tr {
  @apply border-collapse text-center mx-auto w-full max-h-[50px] border-b-2 border-black table-auto;
}
.input {
  @apply border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500;
}
.checkbox {
  @apply h-4 w-4 text-green-600 focus:ring-green-500;
}
